In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Load Data

In [2]:
path = "input/Retail_Data_Transactions.csv"
df = pd.read_csv(path)
df.head()

  customer_id trans_date  tran_amount
0      CS5295  11-Feb-13           35
1      CS4768  15-Mar-15           39
2      CS2122  26-Feb-13           52
3      CS1217  16-Nov-11           99
4      CS1850  20-Nov-13           78

# Preprocess Data

In [5]:
def preprocess_df(df):
    return (df
        .assign(
            customer_id = lambda df_: df_["customer_id"].astype(str), 
            transaction_date = lambda df_: pd.to_datetime(df_["trans_date"], format='%d-%b-%y'), 
        )
        .loc[:, ["transaction_date", "customer_id"]]
        .dropna(how="any")
        .reset_index(drop=True)
    )

df_clean = preprocess_df(df)